<launch>
  <group ns="cam_1">
    <node pkg="ricoh_camera" type="capture.py" name="capture">
        <param name="video_input" value="0"/>
        <param name="width"  value="1280"/>
        <param name="height" value="720"/>
        <param name="frequency" value="30"/>
        <param name="split" value="False"/>
        <param name="display" value="False"/>
    </node>
    <node pkg="ricoh_camera" type="convert_eqrect.py" name="convert" output="screen">
      <param name="calib_format" value="kalibr"/>
      <param name="front_calib" value="$(find ricoh_camera)/config/camchain-front_camera.yaml"/>
      <param name="back_calib"  value="$(find ricoh_camera)/config/camchain-back_camera.yaml"/>
    </node>
  </group>
</launch>
