<launch>
  <arg name="device_id" default="0" />
  <arg name="image_width"  default="1280"/>
  <arg name="image_height" default="720"/>
  <arg name="rate"   default="15"/>
  <node pkg="cv_camera" type="cv_camera_node" name="capture_cv">
    <param name="device_id" value="$(arg device_id)"/>
    <param name="image_width"  value="$(arg image_width)"/>
    <param name="image_height"  value="$(arg image_height)"/>
    <param name="rate"   value="$(arg rate)"/>
  </node>
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/capture_cv/image_raw" />
  </node>
</launch>
