<launch>
  <group ns="cam_top">
    <node pkg="ricoh_camera" type="convert_eqrect.py" name="convert" output="screen">
      <param name="camchain" value="$(find ricoh_camera)/config/camchain-2019-06-03-10-51-37.yaml"/>
      <param name="front_cam_id" value="cam3"/>
      <param name="back_cam_id"  value="cam2"/>
      <param name="flip" value="False"/>
      <param name="roll" value="320"/>
    </node>
  </group>
  <group ns="cam_bottom">
    <node pkg="ricoh_camera" type="convert_eqrect.py" name="convert" output="screen">
      <param name="camchain" value="$(find ricoh_camera)/config/camchain-2019-06-03-10-51-37.yaml"/>
      <param name="front_cam_id" value="cam1"/>
      <param name="back_cam_id"  value="cam0"/>
      <param name="flip" value="True"/>
      <param name="roll" value="0"/>
    </node>
  </group>
  <node pkg="rosbag" type="play" name="rosbag" args="--loop /home/ecervera/Desktop/stereo/2019-06-03-15-25-17.bag"/>
</launch>
