<launch>

<group ns="top">
  <node pkg="ricoh_camera" type="project_eqrect.py" name="project" output="screen">
    <param name="camchain" value="$(find ricoh_camera)/config/camchain-stereo_2019-07-05-08-24-01.yaml"/>
    <param name="front_cam_id"  value="cam3"/>
    <param name="back_cam_id"   value="cam2"/>
  </node>
  <node name="image_eqrect_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="image_rect" />
  </node>
</group>

<group ns="bottom">
  <node pkg="ricoh_camera" type="project_eqrect.py" name="project" output="screen">
    <param name="camchain" value="$(find ricoh_camera)/config/camchain-stereo_2019-07-05-08-24-01.yaml"/>
    <param name="front_cam_id"  value="cam1"/>
    <param name="back_cam_id"   value="cam0"/>
  </node>
  <node name="image_eqrect_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="image_rect" />
  </node>
</group>

</launch>
